doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}
  
  body
    // HEADER
    include _header
        
    // CONTENT
    block content
      h1 This is a placeholder heading
      
    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    //-The below bundle.js file will contain all the code that is in other files and all their dependencies
    script(src='https://js.stripe.com/v3/')
    //- The above script will expose the stripe object globally. We are putting this "Stripe" script in this base.pug because
    //- our parcel bundler wants this stripe script in the main scope to get access to all of them
    script(src='/js/bundle.js') 

















